
.grid-container{
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 10% 1fr 1fr 1fr 5%;
  }
  
  /* .grid-one{
    grid-column: span 1/2;
    grid-row: span 1/4;
  } */
  
  .grid-two{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: span 1/2;
  
  }
  
  .grid-three{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row: span 2/5;
  }
  
  