
.grid-container{
    display: grid;
    height: 50vw;
    width: 100vw;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25px 20% 20% 20% 20%;
  }

  
.title-card{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

.header{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

.bio-body{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.list-setup{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
 
.footnote{
    grid-column-start: 2;
    grid-row-start: 5;
}
.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}