*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
    padding: 3px;
 
    color: #9f9ca0;

}

body{
   /* background-image: url("background2.jpg"); */
    background-image: linear-gradient(to bottom right, #500268, rgb(2, 2, 128)) ;

}

h2{
    font-family: 'Montserrat', sans-serif;
    width: 25vw;
    margin: 8px;
    padding: 8px;
    background-color: aliceblue;
    color: #500268;
}

h3{
    font-family: 'Montserrat', sans-serif;
    width: 15vw;
    margin: 4px;
    padding: 4px;
    background-color: aliceblue;
    color: #500268;
}

p{
    
    width: 75vw;
}
